/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 21, 2015, 11:50:34 AM
    Author     : Javi Cuan
*/
body{
    max-width: 100%;
    overflow-x: hidden;
    font-family: sans-serif;
    zoom:100%;
}

a.emphasize-link{
    z-index:2;
    border: .1em solid white;
    color:white;
    letter-spacing:1px;
    font-size:2em;
    padding-top:.45em;
    padding-bottom:.45em;
    background-color:transparent;
    
    -webkit-animation:fadein 2s;
    -webkit-transition:color .5s;
    -webkit-transition:background-color .5s;
    -moz-animation:fadein 2s;
    -moz-transition:color .5s;
    -moz-transition:background-color .5s;
}

a.emphasize-link:hover{
    color:black;
    border-color:white;
    background-color:white;
    text-decoration: none;
}

a.emphasize-link{
    z-index:2;
    border: .1em solid white;
    color:white;
    letter-spacing:1px;
    font-size:2em;
    padding-top:.45em;
    padding-bottom:.45em;
    background-color:transparent;
    
    -webkit-animation:fadein 2s;
    -webkit-transition:color .5s;
    -webkit-transition:background-color .5s;
    -moz-animation:fadein 2s;
    -moz-transition:color .5s;
    -moz-transition:background-color .5s;
}

a.emphasize-link:hover{
    color:black;
    border-color:white;
    background-color:white;
    text-decoration: none;
}

a.main-link-type{
    z-index:2;
    position:fixed;
    top:28px;
    opacity:.5;
    color:white;
    
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: .2em;
    
    -webkit-transition:opacity .5s; /* Chrome, Safari, Opera */
    -webkit-animation: fadein2 1.5s;
    -moz-transition: opacity .5s; /* Firefox */
    -moz-animation: fadein2 1.5s;
}

a.main-link-type:hover{
    opacity:1;
    text-decoration: none;
}  

a.main-link-type{
    z-index:2;
    position:fixed;
    top:28px;
    opacity:.5;
    color:white;
    
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: .2em;
    
    -webkit-transition:opacity .5s; /* Chrome, Safari, Opera */
    -webkit-animation: fadein2 1.5s;
    -moz-transition: opacity .5s; /* Firefox */
    -moz-animation: fadein2 1.5s;
}

a.main-link-type:hover{
    opacity:1;
    text-decoration: none;
}  

.background1{
    background-color:#3fb0ac;
    width:100%;
    background-size:cover
}

.background2{
    width:100%;
    background-color:#6ed3cf;
    line-height:50px;
    background-size:cover
}

.blaze{
    display:block;
    float:right;
}

div.title-background{
    width:100%;
    height:69.8em;
    background-color:#1d2120;
    border:1em;
}

.exp-date{
    position:relative;
    font-size:28px;
    margin-left:82px;
    bottom:28px;
    left:20px;
}

.exp-desc{
    display:block;
    float:right;
    font-size:28px
}

.exp-ind{
    display:block;
    float:left;
    font-size:28px
}

.exp-title{
    position:relative;
    left:105px;
}

.fire{
    color:red;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    transition: .5s ease-in-out;    
}

.invisible{
    visibility:hidden
}

.exp-link{
    color:hotpink
}

.mini-title{
    position:relative;
    font-size:36px;
    color:#055A79;
}

.mini-title-test{
    font-size:36px;
    color:#055A79;
    padding-bottom:20px;
    padding-top:20px;
    margin-left:100px
}

.quote{
    font-size:30px;
    line-height:25%;
    color:#606060;
}

.skill-ind{
    display:block;
    float:left
}

.title-header{
    position:relative;
    text-align:center;
    font-size:80px;
    padding-top:105px;  
    padding-bottom:40px;
    border-bottom:2px solid white; 
}

#about-link{
    left:39%;
}

#about-me{
    position: relative;
    font-size:28px;
    left:7%;
    bottom:67%;
}

#arrow-down{
    position:relative;
    left:45%;
    bottom:4em;
    background-color:transparent;
    border:none;
    font-size:7em;
    color:#3fb0ac;
    outline:0;
    
    -webkit-animation: fadein 1s;
    -moz-animation: fadein 1s;
    -webkit-transition:bottom .5s;
    -moz-transition:bottom .5s 
}

#arrow-down:hover{
    bottom: 3.7em;
}

#contact-link{
    position:fixed;
    left:84%;
    top:15px;
    padding-left:1.62em;
    padding-right:1.6em;
}

#detail-block{
    font-size:28px;
    position:relative;
    left:67%;
    bottom:114%
}

#education-description{
    position:relative;
    padding-top:25px;
    bottom: 16.9em;
    left:45%;
    font-size:28px;  
    line-height:40px;
}

#experiences-link{
    left:47.8%;
}

#exp-clm{
    list-style-type: none;
    width:1550px;
    margin:auto;
}

#facebook-img{
    position:relative;
    bottom:20px;
    left:47%;
    z-index:1;
    width:50px;
}

#first{
    height:58em;
}

#gmc-date{
    bottom:50px;
}

#gohs{
    position:relative;
    right:50px;
    bottom:25px 
}

#gohs-date{
   bottom:54px;
}

#gohs-img{
    position:relative;
    width:145px;
    right:65px; 
}

#graduated{
    position:relative;
    bottom:5px;
}

#harvard{
    position:relative;
    bottom:12px;
    left:13px;
}

#harvard-img{
    position:relative;
    width:73px;
    margin-right:10px; 
}

#hcs-date{
    position:relative;
    left:105px;
}

#hi-there{
    position:relative;
    text-align:center;
    font-size:80px;
    padding-top:80px;  
    border-bottom:2px solid white; 
}

#home-img{
    position: relative;
    width:100%;
    height:100%;
    
    -webkit-animation: fadein 1.5s;
    -moz-animation: fadein 1.5s;
}

#jda-date{
    bottom:50px;
}

#linkedin-img{
    position:relative;
    bottom:20px;
    left:48%;
    z-index:1;
    width:50px;
}

#main-title{
    text-align:center;
    border-width:1px;
    border-bottom: 2px solid rgba(255, 255, 255, .5);
    border-bottom-left-radius:1em;
    border-bottom-right-radius:1em;
    color:#3fb0ac;
    font-size:6em;
    position:relative;
    bottom:10em;
    
    -webkit-animation: fadein 2s;
    -moz-animation: fadein 2s;
}

#nav-bar{
    z-index:2;
    text-align:center;
    position:fixed;
    width:100%;
    height:10%;
    opacity:.5;
    border:none;
    background-color:gray;
    
    
    -webkit-animation: fadein2 2s;
    -moz-animation: fadein2 2s;
}

#profile-image{
    width:25%;
    height:67%;
    vertical-align:middle;
    display:block;
    margin: 0 auto;
    padding-top:60px;
    padding-bottom:45px;
}

#projects-link{
    left:72.5%;
}

#resume{
    position:relative;
    margin-top:50px;
    margin-left:45.5%;
    padding:10px 10px;
    font-size:20px
}

#ruhr-date{
    position:relative;
    left:105px;
}

#second{
    height:2840px;
}

#skills-col1{
    font-size:28px;
    list-style-type: none;
    width:600px;
    margin-top:50px;
    margin-left:200px;
    float:left
}

#skills-col1 li{
    height:70px;
    padding:5px 15px 5px 15px;
}

#skills-col1 li:hover{
    background-color: #05D3DA;
}

#skills-col1 li:hover .fire{
    -webkit-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    transform:rotate(360deg)
}

#skills-col2{
    font-size:28px;
    list-style-type: none;
    width:600px;
    margin-top:50px;
    margin-right:200px;
    float:right
}

#skills-col2 li{
    height:70px;
    padding:5px 15px 5px 15px;
}

#skills-col2 li:hover{
    background-color: #05D3DA;
}

#skills-col2 li:hover .fire{
    -webkit-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    transform:rotate(360deg)
}

#skills-link{
    left:63.5%;
}

#subtitle{
    text-align:center;
    color:#3fb0ac;
    font-size:3em;
    position:relative;
    bottom:20em;
    
    -webkit-animation: fadein 2s;
    -moz-animation: fadein 2s;
}

#third{
    position:absolute;
    line-height:50px
}

@keyframes fadein{
    from {opacity:0}
    to{opacity:1}
}

@keyframes fadein2{
    from {opacity:0}
    to{opacity:.5}
}