/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 21, 2015, 11:50:34 AM
    Author     : Javier Cuan-Martinez
*/

body{
    width: 100%;
    overflow-x:hidden;
    font-family: 'Lato', sans-serif;
    font-weight: 350;
}

table{
    text-align:center;
    position:fixed;
    z-index:20;
    max-height:100px;
    width:100%;
    height:100px;
    border:none;
    background-color:rgba(64,64,64,0.5);
    
    -webkit-animation: fadein 2s;
    -moz-animation: fadein 2s;
}

a.emphasize-link{
    z-index:2;
    border: .1em solid white;
    color:white;
    letter-spacing:1px;
    font-size:2em;
    padding-top:.45em;
    padding-bottom:.45em;
    background-color:transparent;
    
    -webkit-animation:fadein 2s;
    -webkit-transition:color .5s;
    -webkit-transition:background-color .5s;
    -moz-animation:fadein 2s;
    -moz-transition:color .5s;
    -moz-transition:background-color .5s;
}

a.emphasize-link{
    z-index:2;
    border: none;
    text-decoration:none;
    color:white;
    letter-spacing:1px;
    font-size:2em;
    padding-top:.45em;
    padding-bottom:.45em;
    background-color:transparent;
    opacity:.5;
    
    -webkit-animation:fadein2 2s;
    -webkit-transition:color .5s;
    -webkit-transition:background-color .5s;
    -moz-animation:fadein 2s;
    -moz-transition:color .5s;
    -moz-transition:background-color .5s;
}

a.emphasize-link:hover{
    opacity:1;
    color:#3fb0ac;
    border-color:white;
    background-color:white;
    text-decoration: none;
}

a.main-link-type{
    z-index:4;
    position:fixed;
    top:28px;
    opacity:.5;
    color:white;
    
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: .2em;
    
    -webkit-transition:opacity .5s; /* Chrome, Safari, Opera */
    -webkit-animation: fadein2 1.5s;
    -moz-transition: opacity .5s; /* Firefox */
    -moz-animation: fadein2 1.5s;
}

a.main-link-type:hover{
    opacity:1;
    text-decoration: none;
}  

a.main-link-type{
    z-index:2;
    position:fixed;
    top:28px;
    opacity:.5;
    color:white;
    text-decoration:none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: .2em;
    
    -webkit-transition:opacity .5s; /* Chrome, Safari, Opera */
    -webkit-animation: fadein2 1.5s;
    -moz-transition: opacity .5s; /* Firefox */
    -moz-animation: fadein2 1.5s;
}

a.main-link-type:hover{
    opacity:1;
}  

.background1{
    background-color:#3fb0ac;
    width:100%;
    background-size:cover
}

.background2{
    width:100%;
    background-color:#6ed3cf;
    line-height:50px;
    
}

.blaze{
    display:block;
    float:right;
}

.bubble{
position: relative;
opacity:0;
font-size:21px;
text-align:center;
line-height:30px;
width: 140px;
height: 70px;
padding: 0px;
background: #FFFFFF;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
}

.bubble:after{
content: '';
position: absolute;
border-style: solid;
border-width: 15px 15px 0;
border-color: #FFFFFF transparent;
display: block;
width: 0;
z-index: 1;
bottom: -15px;
left: 37px;
}


.bubble-second{
position: relative;
opacity:0;
font-size:21px;
text-align:center;
line-height:30px;
width: 140px;
height: 70px;
padding: 0px;
background: #FFFFFF;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
}

.bubble-second:after{
content: '';
position: absolute;
border-style: solid;
border-width: 15px 14px 0;
border-color: #FFFFFF transparent;
display: block;
width: 0;
z-index: 1;
bottom: -15px;
left: 73px;
}

div.title-background{
    width:100%;
    height:69.8em;
    background-color:#1d2120;
    border:1em;
}

.envelope{
    margin-left:105px;
    font-size:60px;
    color:#33FFFF;
}

.envelope:hover{
    opacity:1;
    color:#33FFFF;
}

.exp-date{
    position:relative;
    font-size:28px;
    margin-left:82px;
    bottom:28px;
    left:20px;
}

.exp-desc{
    display:block;
    float:right;
    font-size:28px;
    z-index:5;
}

.exp-ind{
    display:block;
    float:left;
    font-size:28px
}

.exp-link{
    color:hotpink
}

.exp-title{
    position:relative;
    left:105px;
}

.fire{
    color:red;

    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    transition: .5s ease-in-out;    
}

.floating-left{
    display:block;
    float:left;
}

.floating-right{
    display:block;
    float:right;
}

.git{
    position:absolute;
    width:100px;
    height:100px;
    margin-top:250px;
    margin-left:155px;
    opacity:0;
    z-index:1;

    transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -webkit-transition: opacity .5s ease-in-out;
}

.invisible{
    visibility:hidden
}

.mini-title{
    position:relative;
    font-size:36px;
    color:#055A79;
}

.mini-title-test{
    font-size:36px;
    color:#055A79;
    padding-bottom:20px;
    padding-top:20px;
    margin-left:100px
}

.project{
    position:absolute;
    height:400px;
    width:275px;
}

.project-desc-back{
    color:#00CCCC;
    opacity:0;
    text-align:center;
    background-color:#000033;
    font-family:sans-serif;
    font-size:20px;
    line-height:30px;
    padding-top:15px;

    transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -webkit-transition: opacity .5s ease-in-out;
}

.projects-ind-left{
    display:block;
    float:left;
    position:absolute;
}

.projects-ind-left a{
    opacity:1;
    font-size:18px;
    
    color:red;
    float:left;
}

.projects-ind-left:hover a{
    opacity:1;
}

.projects-ind-left:hover .git{
    opacity:1;
    transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -webkit-transition: opacity .5s ease-in-out;
}

.projects-ind-left:hover .project-desc-back{
    opacity:.9;
    transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -webkit-transition: opacity .5s ease-in-out;
}

.projects-ind-left:hover .youtube{
    opacity:1;
    transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -webkit-transition: opacity .5s ease-in-out;
}

.projects-ind-left:hover .project-desc-back{
    opacity:.9;
    transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -webkit-transition: opacity .5s ease-in-out;
}

.projects-ind-right{
    display:block;
    float:right;
}

.projects-ind-right:hover .git{
    opacity:1;
    transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -webkit-transition: opacity .5s ease-in-out;
}

.projects-ind-right:hover .project-desc-back{
    opacity:.9;
    transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -webkit-transition: opacity .5s ease-in-out;
}

.projects-ind-right:hover .youtube{
    opacity:1;
    transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -webkit-transition: opacity .5s ease-in-out;
}

.quote{
    font-size:30px;
    line-height:25%;
    color:#606060;
    margin:auto;
}

.skill-ind{
    display:block;
    float:left
}

.title-header{
    position:relative;
    text-align:center;
    font-size:80px;
    padding-top:105px;  
    padding-bottom:40px;
    border-bottom:2px solid white; 
}

.youtube{
    opacity:0;
    margin-top:300px;
    margin-left:40px;
    height:40px;
    width:70px;
    position:absolute;
    z-index:1;

    transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -webkit-transition: opacity .5s ease-in-out;
}

#about-link{
    left:39%;
}

#about-me-clm{
    list-style-type: none;
    display:block;
    width:1800px;
    margin:auto;
    
}

#about-me{
    position: relative;
    font-size:28px;
    bottom:67%;
}

#algorithms{
    font-size:18px;
    line-height:40px;
}

#arrow-down{
    position:relative;
    text-align:center;
    bottom:4em;
    background-color:transparent;
    border:none;
    font-size:7em;
    color:#3fb0ac;
    outline:0;
    z-index:5;
    
    -webkit-animation: fadein 1s;
    -moz-animation: fadein 1s;
    -webkit-transition:bottom .5s;
    -moz-transition:bottom .5s 
}

#arrow-down:hover{
    bottom: 3.7em;
}

#bubble1{
    margin-top:210px;
}

#bubble2{
    margin-left:83px;
    bottom:70px;
}

#bubble3{
    margin-left:135px;
    bottom:140px;
}

#build{
    position:relative;
    top:15px;
    font-size:23px;
}

#contact{
    list-style-type: none;
    padding-right:20px;
    padding-left:20px;
    width:300px;
    margin:auto;
}

#contact-link{
    position:fixed;
    left:83.5%;
    top:15px;
    padding-left:.5em;
    padding-right:.5em;
}

#detail-block{
    font-size:28px;
    position:relative;
    bottom:114%;
    right:150px;
}

#education-description{
    position:relative;
    padding-top:25px;
    bottom: 16.9em;
    left:45%;
    font-size:28px;  
    line-height:40px;
}

#elephant-icon{
    position:fixed;
    opacity:1;
    z-index:2;
    width:100px;
    height:80px;
    margin-left:40px;
    top:12px;

    -webkit-transition:opacity .5s; /* Chrome, Safari, Opera */
    -webkit-animation: fadein 1.5s;
    -moz-transition: opacity .5s; /* Firefox */
    -moz-animation: fadein 1.5s;
}

#elephant-icon:hover{
    cursor:pointer;
    cursor:hand;
}

#experiences-link{
    left:47.8%;
}

#exp-clm{
    list-style-type: none;
    width:1550px;
    margin:auto;
}

#facebook-img{
    position:relative;
    bottom:20px;
    left:47%;
    z-index:1;
    width:60px;
    height:60px;
}

#fifth{
    line-height:58px;
    height:620px;
}

#first{
    height:58em;
}

#fourth{
    height:1880px;
}

#git-cat1{
    position:absolute;
    margin-left:0px;
    margin-top:15px;
}

#git-cat2{
    position:absolute;
    left:-170px;
    margin-top:15px;
}

#git-cat3{
    position:absolute;
    margin-left:-33px;
    bottom:-15px;
}

#gmc-date{
    bottom:50px;
}

#gohs{
    position:relative;
    right:50px;
    bottom:25px 
}

#gohs-date{
   bottom:54px;
}

#gohs-img{
    position:relative;
    width:145px;
    right:65px; 
}

#graduated{
    position:relative;
    bottom:5px;
}

#harvard{
    position:relative;
    bottom:12px;
    left:13px;
}

#harvard-img{
    position:relative;
    width:73px;
    margin-right:10px; 
}

#hcs-cat{
    margin-left:85px;
}

#hcs-date{
    position:relative;
    left:105px;
}

#hi-there{
    position:relative;
    text-align:center;
    font-size:80px;
    padding-top:80px;  
    border-bottom:2px solid white; 
}

#home-img{
    position: relative;
    width:100%;
    height:100%;
    
    -webkit-animation: fadein 1.5s;
    -moz-animation: fadein 1.5s;
}

#jda-date{
    bottom:50px;
}

#light{
    color:#708889;
}

#linkedin-img{
    position:relative;
    bottom:20px;
    left:48%;
    z-index:1;
    width:60px;
    height:60;
}

#main-title{
    text-align:center;
    border-width:1px;
    border-bottom: 2px solid rgba(255, 255, 255, .5);
    border-bottom-left-radius:1em;
    border-bottom-right-radius:1em;
    color:#3fb0ac;
    font-size:6em;
    position:relative;
    bottom:10em;
    
    -webkit-animation: fadein 2s;
    -moz-animation: fadein 2s;
}

#many-cute{
    position:fixed;
    top:0;
    left:-2000;
    z-index:3;
}

#profile-image{
    position:relative;
    width:550px;
    height:500px;
    display:block;
    margin:auto;
    padding-right:20px;
    right:120px;
}

#projects-clm{
    list-style-type: none;
    width:800px;
    margin:auto;
    padding-top:30px;
    padding-right:315px;
}

#projects-link{
    left:72.5%;
}

#react{
    height:100px;
    width:70px;
    margin-top:280px;
    background-color:none;
    position:absolute;
}

#react:hover ~ #bubble1{
    opacity:1;

    transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out;
}

#react2{
    height:100px;
    width:70px;
    margin-left:100px;
    background-color:none;
    position:absolute;
}

#react2:hover ~ #bubble2{
    opacity:1;

    transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out;
}

#react3{
    height:100px;
    width:70px;
    margin-top:-70px;
    margin-left:205px;
    background-color:none;
    position:absolute;
}

#react3:hover ~ #bubble3{
    opacity:1;

    transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out;
}

#ruhr-date{
    position:relative;
    left:105px;
}

#second{
    height:3080px;
}

#skills-col1{
    font-size:28px;
    list-style-type: none;
    width:600px;
    margin-top:50px;
    margin-left:140px;
    float:left
}

#skills-col1 li{
    height:70px;
    padding:5px 15px 5px 15px;
}

#skills-col1 li:hover{
    background-color: #05D3DA;
}

#skills-col1 li:hover .fire{
    -webkit-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    transform:rotate(360deg)
}

#skills-col2{
    font-size:28px;
    list-style-type: none;
    width:600px;
    margin-top:50px;
    margin-right:180px;
    float:right
}

#skills-col2 li{
    height:70px;
    padding:5px 15px 5px 15px;
}

#skills-col2 li:hover{
    background-color: #05D3DA;
}

#skills-col2 li:hover .fire{
    -webkit-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    transform:rotate(360deg)
}

#skills-link{
    left:63.5%;
}

#space{
    position:relative;
    bottom:75px;
    margin-left:25px;
}

#subtitle{
    text-align:center;
    color:#3fb0ac;
    font-size:3em;
    position:relative;
    bottom:20em;
    
    -webkit-animation: fadein 2s;
    -moz-animation: fadein 2s;
}

#test{
    position:relative;
    top:100px;
}

#third{
    line-height:50px;
    height:960px
}

@keyframes fadein{
    from {opacity:0}
    to{opacity:1}
}

@keyframes fadein2{

    from {opacity:0}
    to{opacity:.5}
}